{% extends 'shop/base.html' %}
{% block content %}
    <div class="container-fluid bg4">
        <div class="Login-form" style="background-color:white; opacity:0.91; margin-top:100px; margin-right: 300px; margin-left: 200px; padding-top:30px;">
        <h1 class="Login-head" style=" padding-left:100px; "> Log in </h1>
    <form class="site-form" action="/accounts/login/" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="login">
    </form>
    </div>
    </div>
{% endblock%}