{% extends 'shop/base.html' %}

{% block content %}

<div class="bg1 container-fluid">
    <div> 
        <img class="img-home" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQub0hqNi5kLXLPnFlLeJwZZPyMaDmwu5_3UsDwfAPwSGveX3AUUQ">  
    </div>
    <div class="row" style="margin-top:100px; margin-bottom:50px;">
        <div style=" margin-bottom:50px;">
            <a href="http://127.0.0.1:8000/list"><button class="button" type="submit"><span>Menu</span></button></a>
        </div>
    
        <!-- <div class="col-md-4 container-fluid">
            <div class="row" style="margin-top: 6%">
                <button class="btn btn-info pull-right" style="margin-top: 50px; margin-right: 30px;">
                {% with totail_items=cart|length %}
                {% if cart|length > 0 %}
                    My Shopping Order:
                    <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                        {{ totail_items }} item {{ totail_items|pluralize }},Rs. {{ cart.get_total_price }}
                    </a>
                    {% else %}
                    Your cart is empty.
                {% endif %}
                {% endwith %}
                </button>
            </div>
        </div>   -->
    </div>  
</div>

{% endblock%}